* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('/src/assets/pexels-ruvim-3560044.jpg');
}

.App.warm {
  background-image: url('/src/assets/pexels-andreas-wohlfahrt-2397361.jpg');
}

.App,
.App.warm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

main {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
}

.title {
  color: #fff;
  margin-bottom: 2.4rem;
  text-align: center;
}

.search-box-container {
  width: 100%;
  margin: 0 0 45px;
}

.search-box-container label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
}

.search-box-container .search-input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: .6rem;
  font-size: 1rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.4s ease;
}

.search-box-container .search-input:focus {
  background-color: rgba(255, 255, 255, 0.863);
} 

.location-container .location {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
}

.location-container .date {
  color: #fff;
  font-size: .9rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
  margin-top: 1rem;
}

.weather-container {
  text-align: center;
}

.weather-container .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.weather-container .weather {
  color: #fff;
  font-size: 2rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  font-weight: bold;
}

@media (max-width: 414px) {
  main {
    min-width: 300px;
  }
}