* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('./assets/cold-bg.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5 ease-out;
}

.App.warm {
  background-image: url('./assets/warm-bg.jpeg');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55));
  padding: 1.5rem;
}

.search-box-container {
  width: 100%;
  margin: 0 0 75px;
}

.search-box-container .search-input {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: 0.4s ease;
}

.search-box-container .search-input:focus {
  background-color: rgba(255, 255, 255, 0.75);
} 

.location-container .location {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
}

.location-container .date {
  color: white;
  font-size: .9rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
  margin-top: 1rem;
}

.weather-container {
  text-align: center;
}

.weather-container .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 10px;
  padding: 15px 25px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.weather-container .weather {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  font-weight: bold;
}